<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>
<br>

<%= link_to 'View Your Profile', @customer , class:"btn btn-primary"%> 
<%= link_to 'Back', customers_path, class:"btn btn-secondary m-2" %>
