<h1>Editing Feedback</h1>

<%= render 'form', feedback: @feedback %>
<br>
<%= link_to 'Show your feedback', @feedback, class:"btn btn-primary" %> 
<%= link_to 'Back', root_path, class:"btn btn-secondary" %>
