// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

slide-container {
	margin: 0;
	padding: 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: teal;
}
.slider {
	width: 800px;
	height: 500px;
	border-radius: 50px;
}
